html, body {
 font-family: "helvetica neue";
}

body {
 font-size:100%;
 line-height:1.125em; /* 16 font-size:0.75em; */
}

#content_footer,
#footer,
#main_nav,
#secondary_nav,
#sidebar {
  font-size:0.75em;
}

.alert {
 color: #b00;
}
.tiny {
 font-size: 85%;
}
.center {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

/* super/subscripts that don't break line height */
sup, sub {
 height: 0;
 line-height: 1;
 vertical-align: baseline;
 _vertical-align: bottom;
 position: relative;
 font-size:75%;
}
sup { bottom: .8ex; }
sub { top: .4ex; }
