[% IF pod %]
[% pod %]
[% ELSIF name %]
<p>
No Pod found for [% name | html %].
 [% UNLESS name.match("Yesh") %]
   Try [% perldoc_link(name) %] instead.
 [% END %]
</p>
[% ELSE %]
<h3>Internal Documentation</h3>

<p>
<a href="?Yesh::Manual">Yesh::Manual</a> and <a href="?Yesh">Yesh</a>
are probably all you really want. You can browse any application
documents below.
</p>

[% PROCESS man/perldoc/list_docs.tt %]

[% END %]


