[%-FILTER trim-%]
  [%-FILTER collapse-%]
    [%-FILTER html -%]
      [% IF title %]
        [% title %] » [% yesh.config.name %]
      [%-ELSE-%]
        [% yesh.config.name %]
      [%-END-%]
    [%-END-%]
  [%-END-%]
[%-END-%]
