<div class="status">
[% IF article.is_live %]
  <p class="pulse alert">This article is live on the site.</p>
[% ELSE %]
<p>This article is a draft.</p>
[% END %]
</div>

[% form %]

[% PROCESS article/js_helpers.tt %]

[% RETURN %]
[% PROCESS article/article_form
   form_name = "edit"
   form_legend = "You are editing ${article_link(article)}"
 %]
