[% IF ( users = users.all() ) %]
<ul>
[% FOR user IN users %]
<li>[% user_link(user) %]
  <ul>
    [% FOR role IN user.site_roles %]
      <li>[% role.name | html %]</li>
    [% END %]
  </ul>
</li>
[% END %]
</ul>
[% ELSE %]
No users yet. <a href="[% yesh.uri_for("/user/register") %]">Be the first</a>.
[% END %]
